aiohttp==3.8.4
aiosignal==1.3.1
altgraph==0.17.3
amqp==5.1.1
asgiref==3.6.0
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
baidu-aip==4.16.11
billiard==3.6.4.0
celery==5.2.7
certifi==2023.5.7
channels==4.0.0
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudscraper==1.2.71
cron-descriptor==1.3.0
dj-database-url==2.0.0
Django==4.2.1
django-celery-beat==2.5.0
django-celery-results==2.5.0
django-cors-headers==3.14.0
django-ninja==0.21.0
django-redis==5.2.0
django-simpleui==2023.3.1
django-timezone-field==5.0
dnspython==2.3.0
docker==6.1.1
eventlet==0.33.3
exceptiongroup==1.1.1
feedparser==6.0.10
flower==1.2.0
frozenlist==1.3.3
greenlet==2.0.2
h11==0.14.0
humanize==4.6.0
idna==3.4
kombu==5.2.4
lxml==4.9.2
macholib==1.16.2
multidict==6.0.4
mysqlclient==2.1.1
outcome==1.2.0
packaging==23.1
prometheus-client==0.16.0
prompt-toolkit==3.0.38
pydantic==1.10.7
PyJWT==2.6.0
pyparsing==3.0.9
pypushdeer==0.0.3
PySocks==1.7.1
python-crontab==2.7.1
python-dateutil==2.8.2
pytz==2023.3
qbittorrent-api==2023.4.47
redis==4.5.4
requests==2.30.0
requests-toolbelt==1.0.0
selenium==4.9.1
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
supervisor==4.2.5
toml==0.10.2
tornado==6.3.1
transmission-rpc==4.2.2
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
uvicorn==0.22.0
vine==5.0.0
wcwidth==0.2.6
websocket-client==1.5.1
wsproto==1.2.0
yarl==1.9.2
