aiohttp==3.9.1
aiosignal==1.3.1
altgraph==0.17.4
amqp==5.2.0
annotated-types==0.6.0
asgiref==3.7.2
async-generator==1.10
async-timeout==4.0.3
attrs==23.1.0
baidu-aip==4.16.13
billiard==4.2.0
build==1.0.3
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
channels==4.0.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cloudscraper==1.2.71
cron-descriptor==1.4.0
cryptography==41.0.7
demjson3==3.0.6
dict-recursive-update==1.0.1
dj-database-url==2.1.0
Django==4.2.8
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-ninja==0.22.2
django-redis==5.4.0
django-simpleui==2023.12.12
django-timezone-field==6.1.0
dnspython==2.4.2
docker==7.0.0
eventlet==0.34.2
exceptiongroup==1.2.0
feedparser==6.0.11
flatbencode==0.2.1
flatten-dict==0.4.2
flower==2.0.1
frozenlist==1.4.1
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.3
h11==0.14.0
humanize==4.9.0
idna==3.6
importlib-metadata==7.0.1
kombu==5.3.4
lxml==4.9.4
macholib==1.16.3
multidict==6.0.4
mysqlclient==2.1.1
outcome==1.3.0.post0
packaging==23.2
prometheus-client==0.19.0
prompt-toolkit==3.0.43
pycparser==2.21
pycrypto==2.6.1
pycryptodome==3.19.0
pydantic==1.10.9
pydantic_core==2.14.6
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
PyJWT==2.8.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
pypushdeer==0.0.3
PySocks==1.7.1
pyTelegramBotAPI==4.14.1
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
qbittorrent-api==2023.11.57
redis==5.0.1
requests==2.31.0
requests-toolbelt==1.0.0
selenium==4.16.0
sgmllib3k==1.0.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
sqlparse==0.4.4
supervisor==4.2.5
toml==0.10.2
tomli==2.0.1
torf==4.2.4
tornado==6.4
transmission-rpc==7.0.3
trio==0.23.2
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
uvicorn==0.25.0
vine==5.1.0
wcwidth==0.2.12
websocket-client==1.7.0
wsproto==1.2.0
yarl==1.9.4
zipp==3.17.0
