<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/ptools.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>PT一下，你就晓嘚</title>
    <script type="module" crossorigin src="/assets/index-f82278a6.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/lodash-4b55c431.js">
    <link rel="modulepreload" crossorigin href="/assets/vue-06eb2439.js">
    <link rel="modulepreload" crossorigin href="/assets/naiveUI-c8c42158.js">
    <link rel="modulepreload" crossorigin href="/assets/ionicons5-32c207d9.js">
    <link rel="stylesheet" href="/assets/index-75268456.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
