<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/ptools.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>PT一下，你就晓嘚</title>
    <script type="module" crossorigin src="/assets/index-fd8d7243.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/lodash-cc4aae98.js">
    <link rel="modulepreload" crossorigin href="/assets/vue-8caab7e7.js">
    <link rel="modulepreload" crossorigin href="/assets/naiveUI-06d71335.js">
    <link rel="modulepreload" crossorigin href="/assets/ionicons5-13bb01b1.js">
    <link rel="stylesheet" href="/assets/index-98385b14.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
