<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/ptools.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>PT一下，你就晓嘚</title>
    <script type="module" crossorigin src="/assets/index-831a2fe3.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/lodash-18690875.js">
    <link rel="modulepreload" crossorigin href="/assets/vue-3732522d.js">
    <link rel="modulepreload" crossorigin href="/assets/naiveUI-5e433394.js">
    <link rel="modulepreload" crossorigin href="/assets/ionicons5-ced7f89a.js">
    <link rel="stylesheet" href="/assets/index-f3bad910.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
